*{
    margin: 0px;
    padding: 0px;
}

/* Helper classes */
.container{
    width: 1200px;
    margin: auto
}

/* Main styles */

html, body {
    height: 100%;
    font-family: 'open sans';
}

body{
    position: relative;
    background: url('../images/background_image.png') no-repeat center;
}

/* #landing{
    background-size: cover;
    padding-top: 1px;
}

#landing h1{
    margin-top: 450px;
    color: #717169;
    color: #b95716;
    font-family: 'rowdies';
    font-size: 58px;
    text-align: center;
    text-transform: uppercase;
}

#landing ul{
    list-style: none;
    display: flex;
    width: 480px;
    margin: auto;
    justify-content: space-between;
    margin-top: 25px;
    font-family: 'open sans';
    font-weight: bold;
    font-size: 16px;
    color: #717169;
    color: #060f00;
}
#landing ul li{
    cursor: pointer;
} */

/* New code */

#verticals{
    margin-top: 200px;
}

#verticals div{
    position: relative;
    width: 25%;
    height: 200px;
    padding: 25px 25px;
    background-color: #FFEBD0;
    border: 2px solid black;
}

#verticals div h3{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

#verticals div p{
    height: 140px;
}

#verticals div button{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #0B5B47;
    bottom: 0px;
    margin: auto;
    border: none;
}

/*  */

#sm-icons {
    display: none;
}

#sm-icons ul{
    display: flex;
    list-style: none;
}
#sm-icons ul li{
    height: 25px;
    width: 25px;
    margin-left: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#sm-icons ul li a{
    height: 100%;
    width: 100%;
    display: block;
}


/* Responsive */

@media screen and (max-width: 1024px){
    .container{
        width: auto;
    }

    #landing h1{
        font-size: 36px;
    }

    #landing ul{
        width: 300px;
        font-size: 11px;
    }
}